@use "variables" as *;

.breadcrumb {
  padding-bottom: 12px;

  &__list {
    display: flex;
    gap: 19px;
    color: $text-light;
  }
  
  &__item {
    position: relative;
    &:not(:last-child)::after {
      position: absolute;
      content: ">";
      width: 7px;
      height: 14px;
      top: 50%;
      right: -13px;
      transform: translateY(-50%);
    }
  }

  &__link {
    &:hover {
      color: $blue;
    }

    &:focus,
    &:active {
      outline: none;
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }

  @media (min-width: $bp-md) {
    padding-bottom: 16px;
  }

  @media (min-width: $bp-lg) {
    padding-bottom: 20px;
  }
}
