@use "variables" as *;

.footer {
  padding: 40px 0;
  background-color: $text-dark;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    color: $text-beige;
  }
  
  &__logo-link {
    width: 164px;

    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(0.8);
    }

    &:focus,
    &:active {
      outline: none;
      scale: 0.9;
    }
  }

  &__contacts-phone {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
    color: $background-white;

    &:hover {
      color: $blue;
    }

    &:focus,
    &:active {
      outline: none;
      border-bottom: 1px solid $blue;
    }
  }
  
  &__contacts-social-list {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__contacts-social-link {
    color: $background-white;

    &:hover {
      color: $blue;
    }

    &:focus,
    &:active {
      outline: none;
      color: $dark-blue;
    }
  }

  &__developers-item:not(:last-child) {
    margin-bottom: 8px;
  }
  
  &__developers-link {
    &:hover {
      color: $blue;
    }

    &:focus,
    &:active {
      outline: none;
      color: $dark-blue;
    }
  }

  @media (min-width: $bp-md) {
    &__container {
      padding: 0 63px;
      display: grid;
      grid-template-columns: minmax(137px, auto) minmax(102, auto) 1fr;
      gap: 24px 120px;
      grid-template-areas: 
        "logo logo logo"
        "developers contacts copiryght";
    }

    &__logo-link {
      grid-area: logo;
      width: 275px;
      justify-self: center;
    }

    &__contacts-wrapper {
      grid-area: contacts;
    }

    &__contacts-social-list {
      justify-content: space-between;
    }

    &__contacts-phone-img {
      display: none;
    }

    &__developers-list {
      grid-area: developers;
      align-self: flex-end;
    }

    &__copyright {
      grid-area: copiryght;
      align-self: flex-end;
    }
  }
}
