@use "variables" as *;

.product {
  padding: 12px 0 60px;
  
  &__title {
    margin-bottom: 24px;
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 900;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__sliders-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
  }

  &__slider-img {
    display: block;
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
  }

  &__slider-arrow {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: 16px;
    }

    &--next {
      right: 16px;
    }
  }

  &__slider-arrow-svg {
    color: rgba(255, 255, 255, 0.4);

    :hover {
      color: white;
    }

    :active {
      color: $blue;
    }
  }

  &__slider-arrow-svg path {
    fill: $text-dark;
  }

  &__slider-arrow-svg:hover path {
    fill: $blue;
  }

  &__slider-arrow-svg:focus path {
    fill: $background-white;
  }

  &__slider-arrow-svg:active path {
    fill: $background-white;
  }

  &__slider-thumbnails {
    display: none;
  }

  &__info-price {
    margin-bottom: 12px;
    font-size: 20px;
  }
  
  &__info-id {
    margin-bottom: 24px;
    padding: 4px 8px;
    border-radius: 32px;
    width: fit-content;
    background-color: $background-light-grey;
  }
  
  &__info-title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
  }
  
  &__info-table {
    margin-bottom: 24px;
    width: 100%;
  }

  &__info-btns-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  
  &__info-cart-btn {
    min-width: 260px;
    width: 90%;
    padding: 12px 24px;
    border: 1px solid $blue;
    border-radius: 32px;
    background-color: $blue;
    color: $background-white;

    &:hover {
      background-color: $deep-blue;
    }

    &:focus,
    &:active {
      outline: none;
      border: 1px solid $dark-blue;
      background-color: $blue;
    }
  }

  @media (min-width: $bp-md) {
    padding: 16px 0 80px;

    &__title {
      margin-bottom: 24px;
      font-size: 32px;
    }
  
    &__content {
      gap: 40px;
    }

    &__slide {
      margin-bottom: 14px;
    }

    &__slider-img {
      border-radius: 16px;
      width: 100%;
      object-fit: cover;
    }

    &__slider-arrow {
      top: 38.15vw;
  
      &--prev {
        left: 24px;
      }
  
      &--next {
        right: 24px;
      }
    }

    &__slider-thumbnails {
      display: block;
    }

    &__info-cart-btn {
      min-width: 682px;
      width: 90%;
    }
  }

  @media (min-width: $bp-lg) {
    padding: 20px 0 100px;

    &__title {
      margin-bottom: 40px;
    }
  
    &__content {
      flex-direction: row;
      gap: 16px;
    }

    &__slider {
      min-width: 620px;
      width: 66%;
    }

    &__slide {
      margin-bottom: 12px;
    }

    &__slider-arrow {
      top: 25vw;
    }

    &__info {
      min-width: 302px;
      width: 32%;
    }

    &__info-cart-btn {
      min-width: 274px;
      width: 274px;
    }
  }

  @media (min-width: $bp-xl) {  
    &__slider {
      min-width: 832px;
    }

    &__slide {
      margin-bottom: 16px;
    }

    &__slider-arrow {
      top: 23vw;
    }

    &__info {
      min-width: 408px;
      width: 32%;
    }

    &__info-cart-btn {
      min-width: 380px;
      width: 380px;
    }
  }
}
