$font-primary: 'Open Sans';
$font-secondary: 'Inter';

$background-white: #ffffff;
$background-light-grey: #eeeff2;
$background-grey: #dfe3eb;
$text-light: #969eae;
$text-dark: #1c1c1c;
$text-beige: #f1e9e4;
$text-charcoal: #151515;
$blue: #0044f0;
$dark-blue: #042F9C;
$deep-blue: #0945de;

$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;

$padding-sm: 16px;
$padding-md: 29px;
$padding-lg: 43px;
$padding-xl: 92px;
