$font-primary: 'Open Sans';
$font-secondary: 'Inter';

$background-white: #ffffff;
$background-light-blue: #eeeff2;
$text-light: #969eae;
$text-dark: #1c1c1c;
$text-beige: #f1e9e4;
$blue: #0044f0;

$bp-md: 768px;
$bp-lg: 968px;
$bp-xl: 1440px;

$padding-sm: 16px;
$padding-md: 29px;
$padding-lg: 43px;
$padding-xl: 92px;
